@import "mixins/mixins";

@font-face {
    font-family: 'olly';
    src: url('../fonts/Poppins-Regular.ttf');
}

:root {

    //  default colors for the website
    --bg: #e2f3f5;
    --bg2: #d1e2e4;

    --main1: #22d1ee;
    --main2: #3d5af1;
    --main3: #0e153a;
    --main4: #fc5185;
    --main5: #070c27;

    //  text colors
    --text-black-900: #000000;
    --text-black-700: #1a1a1a;
    --text-black-300: #858585;

    --text-white-900: #ffffff;
    --text-white-700: #c4c4c4;
    --text-white-300: #686868;


    //  shadow
    --outer-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    --outer-shadow-0: 0 0 0 rgba(0, 0, 0, 0.2);

    //  z-index
    --container-index: 50;
    --navbar-index: 40;
}

//  global styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

button {
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg2);
    border-radius: 30px;
}

//  the body
body {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    font-family: 'olly';
}

.main {
    position: relative;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    column-gap: 20px;
    width: 100%;
    height: 100vh;
    padding: 10px;

    //  the sidebar
    .sidebar {
        position: relative;
        font-family: 'olly';
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--main3);
            width: 10%;
            height: 5px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .sidebar-breadcrumb {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--bg2);
            width: 100%;
            height: 5%;
            border-radius: 10px;
            padding: 0 20px;
            margin: 0 0 10px;
            overflow: visible;
            z-index: var(--navbar-index);

            h3 {
                color: var(--text-black-700);
                font-size: 0.9rem;
                font-weight: 700;
                letter-spacing: 3px;
                text-transform: capitalize;
                font-family: 'olly';

                i {
                    margin: 0 10px 0 0;
                }
            }

            //  the minize button on the sidenav
            .minimize-nav {
                position: absolute;
                @include flex(column);
                width: 40px;
                height: 40px;
                top: 50%;
                right: -5px;
                transform: translateY(-50%);
                border-radius: 50%;
                z-index: var(--container-index);

                .minimize-nav-btn {
                    position: relative;
                    @include flex(row);
                    background-color: var(--main3);
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 5px solid var(--bg);

                    i {
                        position: relative;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--main4);
                    }
                }
            }
        }

        .sidebar-content {
            position: relative;
            background-color: var(--bg2);
            width: 100%;
            height: 90%;
            padding: 10px;
            border-radius: 15px;
            overflow-y: hidden;
            overflow-x: hidden;
            z-index: var(--navbar-index);

            &::before {
                content: "";
                position: absolute;
                background-color: transparent;
                width: 300px;
                height: 300px;
                top: 0;
                left: 0;
                border-radius: 50%;
                border: 30px solid var(--bg2);
                transform: translate(-50%, -50%);
                opacity: 0.2;
                z-index: -1;
            }

            //  the mobi-medic-logo
            .mobi-medic-logo {
                position: relative;
                @include flex(row);
                width: 100%;
                height: auto;
                padding: 10px 0;

                h3 {
                    position: relative;
                    font-weight: 700;
                    font-size: 0.9rem;
                    color: var(--text-black-900);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background-color: var(--main4);
                    width: 5px;
                    height: 5px;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                }
            }

            .sidebar-links-container {
                position: relative;
                width: 100%;
                height: 90%;
                overflow: auto;

                .side-links-header {
                    position: relative;
                    color: var(--text-black-300);
                    font-size: 0.9rem;
                }

                //  the side nav links
                .sidebar-links-holder {
                    position: relative;
                    width: 100%;
                    height: fit-content;
                    padding: 10px;
                    overflow: auto;

                    .side-link {
                        position: relative;
                        width: 100%;
                        height: 35px;
                        margin: 10px auto;

                        a {
                            position: absolute;
                            @include flex-left(row);
                            font-size: 0.9rem;
                            text-decoration: none;
                            color: var(--text-black-700);
                            letter-spacing: 1px;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            padding: 0 20px;

                            i {
                                margin: 0 10px 0 0;
                            }

                            &.active-link {
                                background-color: var(--main5);
                                color: var(--text-white-700);
                                box-shadow: var(--outer-shadow);

                                i {
                                    color: var(--main4);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //  the main body
    .main-body {
        position: relative;
        background-color: var(--bg2);
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 10px;

        .body-navbar {
            position: relative;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            width: 100%;
            height: 50px;
            border-radius: 10px;

            div {
                @include flex(row);
            }

            .search-bar {
                position: relative;
                background-color: var(--bg2);
                width: 100%;
                height: 100%;

                i {
                    position: relative;
                    color: var(--main3);
                    margin: 0 5px 0 0;
                }

                #search {
                    position: relative;
                    background-color: transparent;
                    width: 170px;
                    height: 30px;
                    border: none;
                    outline: none;
                    padding: 0 20px;
                    border-radius: 30px;
                    border-bottom: 2px solid var(--main2);
                    transition: all 0.3s ease;

                    &:focus {
                        width: 210px;
                    }
                }
            }

            .status {
                position: relative;
                width: 100%;
                height: 100%;

                h4 {
                    color: var(--text-black-700);
                    font-size: 0.9rem;
                    letter-spacing: 2px;

                    span {
                        color: var(--main2);
                        font-size: 0.9rem;
                        letter-spacing: 2px;
                    }
                }
            }

            .shortcuts {
                position: relative;
                width: 100%;
                height: 100%;

                .shortcut-btns {
                    position: relative;
                    background-color: var(--main3);
                    color: var(--main4);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 10px;
                }
            }

            .user-icon {
                position: relative;
                background-color: var(--bg2);
                width: 100%;
                height: 100%;

                img {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 10px 0 0;
                }

                h3 {
                    color: var(--text-black-700);
                    font-size: 0.9rem;
                }

                i {
                    color: var(--main3);
                    font-size: 1rem;
                    margin: 0 0 0 10px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .info-cards {
            position: relative;
            width: 100%;
            height: 75%;
            justify-content: center;
            padding: 10px;
            overflow: auto;

            .header-info-cards {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 32%);
                grid-template-rows: auto;
                column-gap: 10px;
                width: 100%;
                height: 150px;
                padding: 10px;

                .info-card {
                    position: relative;
                    @include flex(column);
                    padding: 15px;
                    background-color: var(--main3);
                    color: var(--text-white-900);
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                    i {
                        position: absolute;
                        color: var(--bg2);
                        font-size: 3rem;
                        top: 50%;
                        left: 50%;
                        opacity: 0.1;
                        transform: translate(-50%, -50%);
                    }

                    h3 {
                        color: var(--text-white-900);
                        font-size: 2.5rem;
                        letter-spacing: 3px;
                        font-style: italic;
                    }

                    .info-card-btn {
                        position: absolute;
                        @include flex(column);
                        background-color: var(--main3);
                        width: 40px;
                        height: 40px;
                        bottom: -20px;
                        left: 50%;
                        border-radius: 50%;
                        border: 5px solid var(--bg2);
                        transform: translateX(-50%);

                        i {
                            position: relative;
                            color: var(--bg2);
                            font-size: 0.9rem;
                            top: 0;
                            left: 0;
                            transform: translate(0, 0);
                            opacity: 1;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

//header section
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;

    .sid {
        color: #fc5185;
    }

    .choices {
        width: 300px;
        margin-top: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;

        .choice {
            background-color: var(--main3);
            color: var(--text-white-700);
            font-size: 0.9rem;
            padding: 5px;
            border-radius: 30px;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border-radius: 50%;

    }

    .welcome {
        padding: 10px;

        h2 {
            color: var(--main3);
            font-size: 1rem;
        }
    }

}


//  the pointing animation on the minimize btn
@keyframes point {
    0% {
        transform: translate(0, -50%);
    }

    50% {
        transform: translate(-5px, -50%);
    }

    100% {
        transform: translate(0, -50%);
    }
}