@import "mixins/mixins";

:root {

    //  default colors for the website
    --bg: #e2f3f5;
    --bg2: #becfd1;

    --main1: #22d1ee;
    --main2: #3d5af1;
    --main3: #0e153a;
    --main4: #fc5185;

    //  text colors
    --text-black-900: #000000;
    --text-black-700: #1a1a1a;
    --text-black-300: #858585;

    --text-white-900: #ffffff;
    --text-white-700: #c4c4c4;
    --text-white-300: #686868;


    //  shadow
    --outer-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    --outer-shadow-0: 0 0 0 rgba(0, 0, 0, 0.2);

    //  z-index
    --container-index: 50;
    --navbar-index: 40;
}

//  global styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//  the body
body {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
}

.main {
    position: relative;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    column-gap: 10px;
    width: 100%;
    height: 100vh;
    padding: 10px;

    .sidebar {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--main1);
            width: 10%;
            height: 5px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .sidebar-breadcrumb {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--main3);
            width: 100%;
            height: 5%;
            border-radius: 10px;
            padding: 0 20px;
            margin: 0 0 10px;

            h3 {
                color: var(--bg);
                font-size: 0.9rem;
                font-weight: 700;
                letter-spacing: 3px;
                text-transform: capitalize;
            }
        }

        .sidebar-content {
            position: relative;
            background-color: var(--main3);
            width: 100%;
            height: 95%;
            border-radius: 15px;
        }
    }

    .body {
        position: relative;
        background-color: var(--bg2);
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}